.nav {
  height: 50px;
  padding: 10px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.link-style {
  padding-right: 20px;
}
